:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  touch-action: pan-x pan-y;
}

body {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.background-letters {
  position: absolute;
  z-index: -1;
  inset: -100%;
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='480' height='480' viewBox='0 0 480 480'%3E%3Cg fill='%232f80ed' font-family='monospace' font-size='40' font-weight='700' letter-spacing='6' opacity='.04'%3E%3Ctext x='0' y='34'%3EQMZKWJRXTPBNGDVHY%3C/text%3E%3Ctext x='15' y='74'%3ECLFUSAEIOQWMZKJRX%3C/text%3E%3Ctext x='0' y='114'%3ETPBNGDVHYCLFUSAEI%3C/text%3E%3Ctext x='15' y='154'%3EOQWMZKJRXTPBNGDVH%3C/text%3E%3Ctext x='0' y='194'%3EYCLFUSAEIOQWMZKJR%3C/text%3E%3Ctext x='15' y='234'%3EXTPBNGDVHYCLFUSAE%3C/text%3E%3Ctext x='0' y='274'%3EIOQWMZKJRXTPBNGDV%3C/text%3E%3Ctext x='15' y='314'%3EHYCLFUSAEIOQWMZKJ%3C/text%3E%3Ctext x='0' y='354'%3ERXTPBNGDVHYCLFUSA%3C/text%3E%3Ctext x='15' y='394'%3EEIOQWMZKJRXTPBNGD%3C/text%3E%3Ctext x='0' y='434'%3EVHYCLFUSAEIOQWMZK%3C/text%3E%3Ctext x='15' y='474'%3EJRXTPBNGDVHYCLFUS%3C/text%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 900px 900px;
  transform: rotate(-45deg);
}

html.dark .background-letters {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='480' height='480' viewBox='0 0 480 480'%3E%3Cg fill='%238be9fd' font-family='monospace' font-size='40' font-weight='700' letter-spacing='6' opacity='.02'%3E%3Ctext x='0' y='34'%3EQMZKWJRXTPBNGDVHY%3C/text%3E%3Ctext x='15' y='74'%3ECLFUSAEIOQWMZKJRX%3C/text%3E%3Ctext x='0' y='114'%3ETPBNGDVHYCLFUSAEI%3C/text%3E%3Ctext x='15' y='154'%3EOQWMZKJRXTPBNGDVH%3C/text%3E%3Ctext x='0' y='194'%3EYCLFUSAEIOQWMZKJR%3C/text%3E%3Ctext x='15' y='234'%3EXTPBNGDVHYCLFUSAE%3C/text%3E%3Ctext x='0' y='274'%3EIOQWMZKJRXTPBNGDV%3C/text%3E%3Ctext x='15' y='314'%3EHYCLFUSAEIOQWMZKJ%3C/text%3E%3Ctext x='0' y='354'%3ERXTPBNGDVHYCLFUSA%3C/text%3E%3Ctext x='15' y='394'%3EEIOQWMZKJRXTPBNGD%3C/text%3E%3Ctext x='0' y='434'%3EVHYCLFUSAEIOQWMZK%3C/text%3E%3Ctext x='15' y='474'%3EJRXTPBNGDVHYCLFUS%3C/text%3E%3C/g%3E%3C/svg%3E");
}
